body { 
    line-height: 1.4;
    font-size: 16px;
    padding: 0 10px;
    margin: 0px auto;
    max-width: 650px;
    text-align: center;
    font-family: sans-serif; 
}

#maincontent {
    max-width: 42em;
    margin: 15 auto;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gptLogo {
    height: 120px; 
    width: auto;
}

#geminiLogo {
    height: 66px;
    width: auto;
}

#usaFlag {
    height: 10px;
    width: auto;
    margin-right: 5px;
}

#chromeLogo {
    height: 15px;
    width: auto;
}

#canvas {
    border:1px solid #000;
}

#promptOutput {
    margin: 20px 0;
    width: 640px;
    height: 100px; 
    overflow: auto; 
    font-family: sans-serif; 
    padding: 10px; 
    border: 1px solid black;
    text-align: left;
    font-weight: normal;
}

#startButton {
    font-size: 16px;
    font-weight: bold;
    margin-right: 15px;
}

#instruction {
    margin-top: 15px;
}
#footer {
    line-height: 2;
}

.switch-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Center items horizontally */
}

.toggle-switch {
    width: 70px; /* Width of the switch */
    height: 34px; /* Height of the switch */
    background-color: #656565; /* Background color */
    border-radius: 17px; /* Rounded corners */
    position: relative;
    margin: 0 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Optional: Adds shadow to the switch */
}

.toggle-slider {
    width: 30px; /* Width of the slider */
    height: 30px; /* Height of the slider */
    background-color: white; /* Background color of the slider */
    position: absolute;
    border-radius: 15px; /* Rounded corners */
    transition: 0.3s; /* Smooth transition for sliding effect */
    left: 0; /* Start from left */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); /* Shadow for 3D effect */
    border: 2px solid #ddd; /* Adds an outline */
}

.label {
    color: #333; /* Text color */
    font-size: 14px; /* Text size */
    font-weight: bold;
}